Repository khulnasoft-lab/DevShip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @trek, @ijjk, @agadzik, @chloetedder, @Ethan-Arrowood, @ztanner, @vercel/compute, @leerob, @Timer, @timneutkens, @huozhi, @Kikobeats

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @TooTallNate @EndangeredMassa @trek
/.github/workflows                       @TooTallNate @EndangeredMassa @trek @ijjk
/packages/fs-detectors                   @TooTallNate @EndangeredMassa @trek @agadzik @chloetedder
/packages/next                           @TooTallNate @EndangeredMassa @Ethan-Arrowood @trek @ijjk @ztanner
/packages/routing-utils                  @TooTallNate @EndangeredMassa @trek @ijjk
/packages/static-build                   @TooTallNate @EndangeredMassa @trek
/packages/edge                           @vercel/compute @TooTallNate @EndangeredMassa @trek
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @ztanner @huozhi
/packages/node                           @TooTallNate @EndangeredMassa @trek @Kikobeats

# Unrestricted Paths
.changeset/

turbo-1-12-3
  package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek

Update dependency json5 to v2.2.2 [SECURITY]
  package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek

Update dependency proxy to v2.1.1 [SECURITY]
  packages/cli/package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek

Update dependency next to v14 [SECURITY]
  packages/next/test/integration/legacy-standard/package.json
  packages/next/test/integration/public-files/package.json
Owners: @TooTallNate, @EndangeredMassa, @Ethan-Arrowood, @trek, @ijjk, @ztanner

Update dependency react-dom to v18 [SECURITY]
  packages/next/test/integration/public-files/package.json
Owners: @TooTallNate, @EndangeredMassa, @Ethan-Arrowood, @trek, @ijjk, @ztanner

Update patrickedqvist/wait-for-vercel-preview digest to 9b632b2
  .github/workflows/test.yml
Owners: @TooTallNate, @EndangeredMassa, @trek, @ijjk

Update Yarn to v1.22.21
  packages/fs-detectors/test/fixtures/54-yarn-with-corepack/package.json
  packages/next/test/fixtures/26-mono-repo-404-lambda/package.json
  packages/node/test/fixtures/37-vercel-og/package.json
Owners: @TooTallNate, @EndangeredMassa, @trek, @agadzik, @chloetedder, @Ethan-Arrowood, @ijjk, @ztanner, @Kikobeats

Update dependency @11ty/eleventy to v1.0.2
  examples/eleventy/yarn.lock
Owners: @leerob

Update dependency @11ty/eleventy-navigation to v0.3.5
  examples/eleventy/yarn.lock
Owners: @leerob

Update peter-evans/create-or-update-comment digest to 16e4c42
  .github/workflows/label-feature-request.yml
  .github/workflows/label-triaged.yml
Owners: @TooTallNate, @EndangeredMassa, @trek, @ijjk

Update dependency undici to v5.28.3 [SECURITY]
  examples/solidstart/yarn.lock
  packages/node/package.json
  pnpm-lock.yaml
Owners: @leerob, @TooTallNate, @EndangeredMassa, @trek, @Kikobeats

Update dependency got to v11 [SECURITY]
  api/package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek

Update dependency @blitzjs/next to v2.0.4
  package.json
  packages/frameworks/package.json
  packages/static-build/test/fixtures/blitz-v2/package-lock.json
  packages/static-build/test/fixtures/blitz-v2/package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek

turbo-1-12-4
  package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek

Update dependency @next/env to v11.1.4
  packages/cli/package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek

Update dependency @remix-run/react to v1.19.3
  examples/hydrogen-2/package.json
  packages/remix/test/fixtures/01-remix-basics/package.json
  packages/remix/test/fixtures/03-with-pnpm/package.json
  packages/remix/test/fixtures/10-hydrogen-2/package.json
  packages/remix/test/fixtures/11-hydrogen-2-js/package.json
  packages/static-build/test/fixtures/hydrogen-v2023/package.json
Owners: @leerob, @TooTallNate, @EndangeredMassa, @trek

Update dependency @riotjs/hot-reload to v4.0.1
  packages/cli/test/dev/fixtures/20-riot/package-lock.json
  packages/cli/test/dev/fixtures/20-riot/package.json
Owners: @TooTallNate, @EndangeredMassa, @trek

Update dependency @scullyio/init to v0.0.29
  examples/scully/package.json
  packages/static-build/test/fixtures/scully-v0/package.json
Owners: @leerob, @TooTallNate, @EndangeredMassa, @trek

Update dependency @sveltejs/adapter-auto to v1.0.3
  examples/sveltekit/package.json
Owners: @leerob

Update dependency @blitzjs/auth to v2.0.5
  packages/static-build/test/fixtures/blitz-v2/package-lock.json
  packages/static-build/test/fixtures/blitz-v2/package.json
Owners: @TooTallNate, @EndangeredMassa, @trek

Update dependency @tailwindcss/forms to v0.5.7
  examples/hydrogen/package-lock.json
Owners: @leerob

next-14-1-1
  .changeset/next-14-1-1.md
  examples/nextjs/package-lock.json
Owners: @timneutkens, @ijjk, @ztanner, @huozhi

next-14-1-2
  .changeset/next-14-1-2.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @timneutkens, @ijjk, @ztanner, @huozhi

Update dependency @types/aws-lambda to v8.10.136
  packages/next/package.json
  packages/node/package.json
  packages/redwood/package.json
  packages/static-build/package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @Ethan-Arrowood, @trek, @ijjk, @ztanner, @Kikobeats

next-14-1-3
  .changeset/next-14-1-3.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @timneutkens, @ijjk, @ztanner, @huozhi

turbo-1-12-5
  package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek

next-14-1-4
  .changeset/next-14-1-4.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @timneutkens, @ijjk, @ztanner, @huozhi

turbo-1-13-0
  package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek

Update dependency @tailwindcss/typography to v0.5.12
  examples/hydrogen/package-lock.json
Owners: @leerob
